@import url(http://fonts.googleapis.com/css?family=Gudea);

body {
    font-family: 'Gudea', Helvetica, sans-serif;
    margin: 0;
    paddong: 0;
    color: #333;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mainRadio {
    margin: 0 auto;
    width: 100%;
    min-width: auto;
    max-width: 700px;
}

h1 {
    text-align: center;
    margin: 0 0 1.2em 0;
    line-height: 150%;
}

h3 {
    text-align: center;
    margin: 0 0 1.2em 0;
    line-height: 150%;
}

p {
    margin-top: 2em;
    line-height: 150%;
    text-align: center;
}

a {
    color: #2A817C;
}

a:active,
a:focus,
a:hover {
    color: #E87A31;
}

.radioholder {
    width: 49%;
    background: #fff;
    margin-bottom: 1em;
    font-size: 0.9em;
    height: 2.4em;
    color: #666;
    -o-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
    cursor: pointer;
}

@media  (min-width: 796px) {
    .radioholder {
        font-size: 1.2em;
    }
}


.activeradioholder {
    background: #39A9A4;
    color: #fff;
}

.radioholder .desc {
    display: inline-block;
    vertical-align: middle;
    padding-left: .6em;
    line-height: 2.4em;
}

.radioholder .tick {
    display: inline-block;
    vertical-align: middle;
    width: 2.4em;
    height: 100%;
    background-color: #eee;
    background-image: none;
    -o-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
}

.activeradioholder .tick {
    background-color: #2A817C;
    background-image: url('http://supereightstudio.com/img/radio_tick.png');
    background-size: cover;
}

.radioholder:nth-child(odd) {
    float: right;
}

.radioholder:nth-child(even) {
    float: left;
}

.radioholder:hover {
    background-color: #eee;
}

.radioholder:hover .tick {
    background-color: #ddd;
}

.activeradioholder:hover {
    background-color: #39A9A4;
}

.activeradioholder:hover .tick {
    background-color: #2A817C;
}

header {
    text-align: center;
    color: #fff;
    background: #fc6d58;
}

/* star */
hr.star-light:after {
    color: #fff;
    background-color: #fc6d58;
}