header{
    /*background-color: #04aebc;*/
    background: #36a3ea;
}

.resultTable{
    width: 100%;
    border-collapse: collapse;
}

@media screen and (max-width: 640px) {
    .resultTable {
        overflow-x: auto;
        display: block;
    }
}

/*#3498DB*/
/*#04aebc*/