@(message: String)

@import result.Project
@main("Main Menu") {

    <!--@play20.welcome(message, style = "Java")-->

    <!--<div ui-content-for="title">
        <span>Forms</span>
    </div>-->

    //header bar
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">@message</a>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class = "hidden active">
                        <a href = "#page-top"></a>
                    </li>
                    <li class = "page-scroll">
                        <a href = "/result">Voting Result</a>
                    </li>
                    <li class = "page-scoll">
                        <a href = "/changevote">Change Vote</a>
                    </li>
                    <li class = "page-scoll">
                        <a href = "/addprojectpage">Add Project</a>
                    </li>
                    <li class = "page-scroll">
                    </li>
                    <li class="page-scroll">
                        <a href= "/logout">Log Out</a>
                    </li>
                </ul>
            </div>
                <!-- /.navbar-collapse -->
        </div>
            <!-- /.container-fluid -->
    </nav>

    <div style="text-align: center;">
        <img src="@routes.Assets.at("images/map.png")" alt="map" style="width:30%;height:20%">
    </div>
    <br>
    <br>

    @defining(Project.find.all()) { projects =>
        <div class="text-center">
        @projects.map { project =>
            <h2><a class="teamlist" href='@routes.Application.GotoProjectPage( project.id , project.name )'>Team @project.name</a></h2>
        }
        </div>
    }
}
