@(message: String)

@main("Main Menu") {

    <!--@play20.welcome(message, style = "Java")-->

    <!--<div ui-content-for="title">
        <span>Forms</span>
    </div>-->

    <div id="header">
        <h1>@message</h1>
    </div>


    <div style="text-align: center;">
        <img src="@routes.Assets.at("images/map.png")" alt="map" style="width:30%;height:20%">
    </div>
    <br>
    <br>


    <div id="team">
        <h2><a class="teamlist" href=" ">Team A</a></h2>
        <h2><a class="teamlist" href=" ">Team B</a></h2>
        <h2><a class="teamlist" href=" ">Team C</a></h2>
        <h2><a class="teamlist" href=" ">Team D</a></h2>
    </div>

    <br>
    

        <div class="detailBox">
            <div class="titleBox">
                <label>Comment Box</label>
            </div>
            <div class="commentBox">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your comments"/>
                    </div>
                </form>
            </div>
        </div>

    <div id="browse_app" class="text-center">
        <a class="btn btn-large btn-info" href="/result">Browse to result page (Test)</a>
    </div>
    <br>
    <br>
    <div id="browse_app" class="text-center">
        <a class="btn btn-large btn-info" href="/vote">Vote page</a>
    </div>



}
