@(form: Form[Login])

@mainLogin("Login") {

    <div class="login-form">

        <h1>Login</h1>

        <form class="form-horizontal" action = "/log" method = POST>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }

            <input type="text" class="form-control" placeholder="Username " id="Username" name="username">
            <i class="fa fa-user"></i>

            <div class="form-group log-status">
            <input type="password" class="form-control" placeholder="Password" id="Password" name="password">
            <i class="fa fa-lock"></i>
            </div>
        <a class="link" href="#">Lost your password?</a>
        <button type="submit" class="log-btn" >Log in</button>

        </form>


        <div class = "regist-btn">
            <a href="/registor"> <button id="regis" type="regis" class="btn btn-primary btn-block center-block">Register</button></a>
        </div>

    </div>

}