@import result.Project
@import result.Vote
@(project: Project, message: String)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <title>Team @project.name</title>

            <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
            <!-- Custom CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/freelancer.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/project.css")">
            <!-- jQuery -->
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>

            <!-- Plugin JavaScript -->
        <script src="@routes.Assets.at("javascripts/jquery.easing.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/classie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/cbpAnimatedHeader.js")" type="text/javascript"></script>

            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.at("javascripts/freelancer.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("../../public/javascripts/addText.js")" type="text/javascript"></script>

        @* ต้องเอามารวม *@
        <script src="@routes.Assets.at("../../public/javascripts/addText.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/addProj.css")">

    </head>
    <body>
        //header bar
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">@session.get("username")</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href= "/index">Index</a>
                        </li>
                        <li class="page-scroll">
                            <a href= "/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">@message</div>
                        <img class="img-responsive" src="@routes.Assets.at("images/submarine.png")" style="width:50%;">
                        <div class="intro-text">
                            <span class="name">Team @project.name</span>
                            <hr class="star-light">
                            <span class="skills">@project.description</span><br>

                            <svg version="1.1" id="edit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 111.3 111.3" enable-background="new 0 0 111.3 111.3" xml:space="preserve">
                                <circle id="circulo" fill="#8A324C" cx="55.6" cy="55.7" r="54.9" >
                                    <animate attributeName="r" from="54.9" to="0" dur="1s" begin="mouseover" fill="remove" />
                                </circle>
                                <circle id="fondo" fill="#EEF0D4" cx="55.6" cy="55.7" r="38" />
                                <g id="Lapiz">
                                    <path fill="#AC5155" d="M79.6,40.3H31.7c-0.3,0-0.6-0.2-0.6-0.6v-1.9c0-0.3,0.2-0.6,0.6-0.6h47.9c0.3,0,0.6,0.2,0.6,0.6v1.9
		C80.2,40.1,79.9,40.3,79.6,40.3z"/>
                                    <path fill="#AC5155" d="M79.6,52.9H31.7c-0.3,0-0.6-0.2-0.6-0.6v-1.9c0-0.3,0.2-0.6,0.6-0.6h47.9c0.3,0,0.6,0.2,0.6,0.6v1.9
		C80.2,52.7,79.9,52.9,79.6,52.9z"/>
                                    <path fill="#AC5155" d="M79.6,65.3H31.7c-0.3,0-0.6-0.2-0.6-0.6v-1.9c0-0.3,0.2-0.6,0.6-0.6h47.9c0.3,0,0.6,0.2,0.6,0.6v1.9
		C80.2,65,79.9,65.3,79.6,65.3z"/>
                                    <g>
                                        <path fill="#AC5155" d="M97.7,25L86.8,14.1c-1.9-1.9-5-1.9-7,0L42.3,51.6c-0.8,0.8-0.7,0.8-0.7,0.8l0.3,0.1
			c-0.1,0.4-0.2,0.8-0.2,1.2c0,2.4,1.9,4.3,4.3,4.3c0.6,0,1.2-0.1,1.8-0.4c-0.1,0.4-0.2,0.9-0.2,1.4c0,2.9,2.4,5.3,5.3,5.3
			c0.5,0,0.9-0.1,1.4-0.2c-0.2,0.5-0.4,1.1-0.4,1.8c0,2.4,1.9,4.3,4.3,4.3c0.3,0,0.6,0,0.9-0.1l0.1,0.2c0.4-0.2,0.8-0.5,1.1-0.8
			l37.5-37.5C99.6,30,99.6,26.9,97.7,25z"/>
                                    </g>
                                    <path fill="#AC5155" d="M93,36.6l4.7-4.7c1.9-1.9,1.9-5,0-7L86.8,14.1c-1.9-1.9-5-1.9-7,0l-4.7,4.7L93,36.6z"/>
                                    <path fill="#ECD1AF" d="M58.1,70.2c-2.4,0-4.3-1.9-4.3-4.3c0-0.6,0.1-1.2,0.4-1.8c-0.4,0.1-0.9,0.2-1.4,0.2c-2.9,0-5.3-2.4-5.3-5.3
		c0-0.5,0.1-0.9,0.2-1.4c-0.5,0.2-1.1,0.4-1.8,0.4c-2.4,0-4.3-1.9-4.3-4.3c0-0.4,0.1-0.8,0.2-1.2l-0.3-0.1L32.5,78c0,0-0.5,1,0,1.5
		c0.5,0.5,2-0.2,2-0.2l24.6-9L59,70.1C58.7,70.1,58.4,70.2,58.1,70.2z"/>
                                    <path fill="#273544" d="M34.5,72.5l-2,5.5c0,0-0.5,1,0,1.5s2-0.2,2-0.2l4.8-1.9L34.5,72.5z"/>

                                    <rect x="69.7" y="27" transform="matrix(0.7071 0.7071 -0.7071 0.7071 44.9418 -49.5551)" fill="#EEF0D4" width="25.2" height="5"/>

                                    <rect x="69.7" y="28.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 44.9418 -49.5551)" opacity="0.2" fill="#BCBCBC" width="25.2" height="2.5"/>

                                    <rect x="72" y="26.4" transform="matrix(0.7071 0.7071 -0.7071 0.7071 43.9861 -51.8622)" opacity="0.2" fill="#BCBCBC" width="25.2" height="1.6"/>
                                    <g opacity="0.15">
                                        <path d="M97.7,25l-2.1-2.1L54.3,64.1L32.5,79.5c0.5,0.5,2-0.2,2-0.2l24.6-9v0c0.4-0.2,0.8-0.5,1.1-0.8l37.5-37.5
			C99.6,30,99.6,26.9,97.7,25z M58.9,70.1C58.9,70.1,58.9,70.1,58.9,70.1C59,70.1,59,70.1,58.9,70.1l0.1,0.2L58.9,70.1z M58.5,70.1
			C58.5,70.1,58.5,70.1,58.5,70.1C58.5,70.1,58.5,70.1,58.5,70.1z"/>
                                    </g>
                                    <polygon opacity="0.1" points="89.1,16.4 47.8,57.7 32.5,79.5 32.5,79.5 32.5,79.5 54.3,64.1 95.5,22.8 	"/>
                                </g>
                            </svg>

                        </div>
                    </div>
                </div>
            </div>
        </header>

            @*pop up edit description*@
            @if( session.get("username").equals(project.manager) ) {
                <div class = editPop>
                    <a href="#popUpEdit" id="openPopUpEdit">Edit description</a>

                        <!-- POP UP -->
                    <aside id="popUpEdit" class="popupEdit">
                        <div class="popUpContainerEdit">
                            <header>
                                <a href="#!" class="closePopUpEdit">X</a>
                                <h2>Edit description</h2>
                            </header>

                            <article>
                                <form role="form" action = "@routes.Application.editDescription(project.id)" method = post>
                                        <!-- add text -->
                                    <div class="wrap">
                                        <textarea name="inputDescription" cols="50" rows="7" style="color: red">@project.description</textarea>
                                        <button id="submit" type="submit" class="btn btn-primary btn-block center-block">Submit</button>
                                    </div>
                                </form>
                            </article>
                        </div>
                        <a href="#!" class="closePopUpOutSideEdit"></a>
                    </aside>
                </div>
            }
            <br><br>

            <div class = pop>
                <a href="#popUp" id="openPopUp">Vote</a>

                    <!-- POP UP -->
                <aside id="popUp" class="popup">
                    <div class="popUpContainer">
                        <header>
                            <a href="#!" class="closePopUp">X</a>
                            <h2>Vote for Team @project.name</h2>

                        </header>

                        <article>

                            <form id="score" class="text-center" role="form" action = "/voting" method = post onsubmit="return confirm('Do you want to submit the form?');">
                                <div class="creativity">
                                    <label for="sel1">Creativity</label>
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                        id="rating-input1-5" name="sel1" value="5">
                                        <label for="rating-input1-5" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-4" name="sel1" value="4">
                                        <label for="rating-input1-4" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-3" name="sel1" value="3">
                                        <label for="rating-input1-3" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-2" name="sel1" value="2">
                                        <label for="rating-input1-2" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-1" name="sel1" value="1">
                                        <label for="rating-input1-1" class="rating-star"></label>
                                    </span>
                                </div>
                                <br>
                                <br>
                                <div class="appearance">
                                    <label for="sel2">Appearance</label>
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                        id="rating-input2-5" name="sel2" value="5">
                                        <label for="rating-input2-5" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-4" name="sel2" value="4">
                                        <label for="rating-input2-4" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-3" name="sel2" value="3">
                                        <label for="rating-input2-3" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-2" name="sel2" value="2">
                                        <label for="rating-input2-2" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-1" name="sel2" value="1">
                                        <label for="rating-input2-1" class="rating-star"></label>
                                    </span>
                                </div>
                                <br>
                                <br>
                                <div class="performance">
                                    <label for="sel3">Performance</label>
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                        id="rating-input3-5" name="sel3" value="5">
                                        <label for="rating-input3-5" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-4" name="sel3" value="4">
                                        <label for="rating-input3-4" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-3" name="sel3" value="3">
                                        <label for="rating-input3-3" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-2" name="sel3" value="2">
                                        <label for="rating-input3-2" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-1" name="sel3" value="1">
                                        <label for="rating-input3-1" class="rating-star"></label>
                                    </span>
                                </div>
                                <br>
                                <br>

                                <input type="hidden" name="projectID" value="@project.id">
                                <button id="submit" type="submit" class="btn btn-primary btn-block center-block"> Submit </button>
                                <br>
                            </form>


                        </article>
                    </div>
                    <a href="#!" class="closePopUpOutSide"></a>
                </aside>
            </div>



            <script type="text/javascript">

            $(document).ready(function () {
            setCurrentScore();
            });

            function setCurrentScore(){
                @defining( (Vote.findExist(session().get("id")+"", project.id+"")) ) { voterVote =>
                    @if(voterVote != null) {
                        document.getElementById("rating-input1-@voterVote.sel1").checked = true;
                        document.getElementById("rating-input2-@voterVote.sel2").checked = true;
                        document.getElementById("rating-input3-@voterVote.sel3").checked = true;
                    }
                }
            };
            </script>

            <br><br>

            <br><br>

            <div>
            <h1>Upload a new image:</h1>
            @helper.form(action = routes.ImageController.uploadImage(project.id), 'enctype -> "multipart/form-data") {
                <div id = "dropzone">
                <input type="file" class="" accept="image/png" name="image">
                </div>
                <button type="submit">Upload image!</button>
            }
            </div>

        <div>
            <h1>Images in Database:</h1>
                <a href="@routes.Assets.at("projectimages/" + project.id + ".png")" target="blank">
                    <img src="@routes.Assets.at("projectimages/" + project.id + ".png")" height="100" width="100">
                </a>
        </div>


    </body>
</html>