@import result.Project
@import result.Vote
@(project: Project, message: String)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <title>Team @project.name</title>

            <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
            <!-- Custom CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/freelancer.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/project.css")">
            <!-- jQuery -->
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
            <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>

            <!-- Plugin JavaScript -->
        <script src="@routes.Assets.at("javascripts/jquery.easing.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/classie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/cbpAnimatedHeader.js")" type="text/javascript"></script>

            <!-- Custom Theme JavaScript -->
        <script src="@routes.Assets.at("javascripts/freelancer.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("../../public/javascripts/addText.js")" type="text/javascript"></script>

        @* ต้องเอามารวม *@
        <script src="@routes.Assets.at("../../public/javascripts/addText.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/addProj.css")">

    </head>
    <body>
        //header bar
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">@session.get("username")</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href= "/index">Index</a>
                        </li>
                        <li class="page-scroll">
                            <a href= "/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">@message</div>
                        <img class="img-responsive" src="@routes.Assets.at("images/submarine.png")" style="width:50%;">
                        <div class="intro-text">
                            <span class="name">Team @project.name</span>
                            <hr class="star-light">
                            <span class="skills">@project.description</span><br>

                        </div>
                    </div>
                </div>
            </div>
        </header>

            @*pop up edit description*@
            @if( session.get("username").equals(project.manager) || session.get("type").equals("Admin") ) {
                <div class = editPop>
                    <a href="#popUpEdit" id="openPopUpEdit">Edit description</a>

                        <!-- POP UP -->
                    <aside id="popUpEdit" class="popupEdit">
                        <div class="popUpContainerEdit">
                            <header>
                                <a href="#!" class="closePopUpEdit">X</a>
                                <h2>Edit description</h2>
                            </header>

                            <article>
                                <form role="form" action = "@routes.Application.editDescription(project.id)" method = post>
                                        <!-- add text -->
                                    <div class="wrap">
                                        <textarea name="inputDescription" cols="50" rows="7" style="color: red">@project.description</textarea>
                                        <button id="submit" type="submit" class="btn btn-primary btn-block center-block">Submit</button>
                                    </div>
                                </form>
                            </article>
                        </div>
                        <a href="#!" class="closePopUpOutSideEdit"></a>
                    </aside>
                </div>
            }
            <br><br>

            <div class = pop>
                <a href="#popUp" id="openPopUp">Vote</a>

                    <!-- POP UP -->
                <aside id="popUp" class="popup">
                    <div class="popUpContainer">
                        <header>
                            <a href="#!" class="closePopUp">X</a>
                            <h2>Vote for Team @project.name</h2>

                        </header>

                        <article>

                            <form id="score" class="text-center" role="form" action = "/voting" method = post onsubmit="return confirm('Do you want to submit the form?');">
                                <div class="creativity">
                                    <label for="sel1">Creativity</label>
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                        id="rating-input1-5" name="sel1" value="5">
                                        <label for="rating-input1-5" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-4" name="sel1" value="4">
                                        <label for="rating-input1-4" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-3" name="sel1" value="3">
                                        <label for="rating-input1-3" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-2" name="sel1" value="2">
                                        <label for="rating-input1-2" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input1-1" name="sel1" value="1">
                                        <label for="rating-input1-1" class="rating-star"></label>
                                    </span>
                                </div>
                                <br>
                                <br>
                                <div class="appearance">
                                    <label for="sel2">Appearance</label>
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                        id="rating-input2-5" name="sel2" value="5">
                                        <label for="rating-input2-5" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-4" name="sel2" value="4">
                                        <label for="rating-input2-4" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-3" name="sel2" value="3">
                                        <label for="rating-input2-3" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-2" name="sel2" value="2">
                                        <label for="rating-input2-2" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input2-1" name="sel2" value="1">
                                        <label for="rating-input2-1" class="rating-star"></label>
                                    </span>
                                </div>
                                <br>
                                <br>
                                <div class="performance">
                                    <label for="sel3">Performance</label>
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                        id="rating-input3-5" name="sel3" value="5">
                                        <label for="rating-input3-5" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-4" name="sel3" value="4">
                                        <label for="rating-input3-4" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-3" name="sel3" value="3">
                                        <label for="rating-input3-3" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-2" name="sel3" value="2">
                                        <label for="rating-input3-2" class="rating-star"></label>

                                        <input type="radio" class="rating-input"
                                        id="rating-input3-1" name="sel3" value="1">
                                        <label for="rating-input3-1" class="rating-star"></label>
                                    </span>
                                </div>
                                <br>
                                <br>

                                <input type="hidden" name="projectID" value="@project.id">
                                <button id="submit" type="submit" class="btn btn-primary btn-block center-block"> Submit </button>
                                <br>
                            </form>


                        </article>
                    </div>
                    <a href="#!" class="closePopUpOutSide"></a>
                </aside>
            </div>



            <script type="text/javascript">

            $(document).ready(function () {
            setCurrentScore();
            });

            function setCurrentScore(){
                @defining( (Vote.findExist(session().get("id")+"", project.id+"")) ) { voterVote =>
                    @if(voterVote != null) {
                        document.getElementById("rating-input1-@voterVote.sel1").checked = true;
                        document.getElementById("rating-input2-@voterVote.sel2").checked = true;
                        document.getElementById("rating-input3-@voterVote.sel3").checked = true;
                    }
                }
            };
            </script>

            <br><br>

            <br><br>

            <div>
            <h1>Upload a new image:</h1>
            @helper.form(action = routes.ImageController.uploadImage(project.id), 'enctype -> "multipart/form-data") {
                <div id = "dropzone">
                <input type="file" class="" accept="image/png" name="image">
                </div>
                <button type="submit">Upload image!</button>
            }
            </div>

        <div>
            <h1>Images in Database:</h1>
                <a href="@routes.Assets.at("projectimages/" + project.id + ".png")" target="blank">
                    <img src="@routes.Assets.at("projectimages/" + project.id + ".png")" height="100" width="100">
                </a>
        </div>


    </body>
</html>